<div class="container">
  <h2 [class.active]="sentForm" class="hide">Plan a date!</h2>
  <p [class.active]="sentForm" class="hide">Select everything you want/need and your boyfriend will try his best to fulfill all your needs!</p>

  <form [formGroup]="dateForm" action="https://formspree.io/f/mwkynyjg" method="post" (ngSubmit)="onSubmit()" [class.active]="sentForm" class="hide">
    <div>
      <label>What</label>
      <mat-form-field appearance="fill">
        <mat-label>Activity</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               name="what"
               formControlName="what"
               [matAutocomplete]="auto">
               <mat-error *ngIf="dateForm.value.what">Passwords do not match.</mat-error>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of activities" [value]="option.viewValue">
            {{option.viewValue}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </div>

    <div>
      <label>When</label>
      <mat-form-field appearance="fill">
        <mat-label>Date of date</mat-label>
        <input matInput type="datetime-local" placeholder="start date" formControlName="date" name="date">
      </mat-form-field>
    </div>

    <div>

      <label>Food?</label>
      <mat-checkbox class="example-margin" formControlName="food" name="food" [(ngModel)]="wantsFood" class="marginRight"></mat-checkbox>

      <div  *ngIf="wantsFood">
        <mat-radio-group aria-label="WhenFood" formControlName="whenFood">
          <mat-radio-button class="marginRight" value="before">Before</mat-radio-button>
          <mat-radio-button class="marginRight" value="during">During</mat-radio-button>
          <mat-radio-button class="marginRight" value="after">After</mat-radio-button>
        </mat-radio-group>
        <span>Activity</span>
      </div>
      
      <div *ngIf="wantsFood">
        <label>Where</label>
        <mat-form-field appearance="fill">
          <mat-label>Food/Place</mat-label>
          <input type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                formControlName="location"
                name="location"
                [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-optgroup *ngFor="let group of foodLocationGroups" [label]="group.name" [disabled]="group.disabled">
              <mat-option *ngFor="let location of group.location" [value]="location.viewValue" >
                {{location.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>
      </div>
  </div>
    
    
  <div>
    <label>Exact Location (Move to a place you want to go to)</label>
    <div id="map"></div>
    <input type="hidden" formControlName="exactLocation" name="exactLocation" [(ngModel)]="exactLocation"/>
  </div>

  <div>
    <label>Anything else?</label>
    <mat-form-field appearance="fill">
      <textarea matInput placeholder="before activity food in freiruum?" formControlName="notes" name="notes"></textarea>
    </mat-form-field>
  </div>
  
  <span>* = required field</span>
  <br/>
  <form action="https://formspree.io/f/mwkynyjg" method="post">
    <input type="email" name="_replyto" value="chiabran@365.kbz-zug.ch"  class="hideForm">
    <textarea name="body" class="hideForm">{{body}}</textarea>  
    <button mat-raised-button color="accent" disabled="{{!dateForm.valid}}" type="submit">Send</button>
  </form>
  </form>
  <div class="overlay" *ngIf="sentForm">
    <h2>Thanks for planning a date with your boyfriend!❤️</h2>
    <br/>
    <pre>{{body}}</pre>
  </div>
</div>

